{% extends 'worker_managment/base.html' %}
{% block title %} 
    {{ company.name }}
{% endblock title %}
{% block body %}
    <h1>{{company.name}}</h1>
    {% if works %}
        <ul class="list-group list-group-flush">
            {% for work in works %}
                <li class="list-group-item">
                    <p href=''>{{work.name}}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                        {% for workplace in work.workplaces %}
                            <span class='row'>
                                <p class='col-3'><a href='/'>{{workplace.name}}</a> </p>
                                <p class='col-2'><a href={% url 'worker-details' workplace.worker.id %}> {{workplace.worker.name}}</a></p>
                            </span>
                        {% endfor %}
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p> Works were not added</p>
    {% endif %}
{% endblock %}