{% extends 'worker_managment/base.html' %}

{% block title %}
Works in {{company.name}}
{% endblock title %}

{% block body %}

    <div class="row alert alert-primary" id='alert-block' style='visibility:collapse' role="alert">
        <p class='col-11' id='alert-info'></p>
        <button class='btn btn-info col-1' onclick="document.location.reload(true);">reload</button>
    </div>
    <script>
        const webSocket = new WebSocket('ws://localhost:8000{% url 'wmanagment:works' company.pk%}' );

        webSocket.onmessage = event => {
            document.getElementById('alert-block').style.visibility = "visible";
            document.getElementById('alert-info').innerText = event.data;
        };
        
    </script>

    <h1>{{company.name}}</h1>
        {% if works %}
            <ul class="list-group list-group-flush">
                {% for work in works %}
                    <li class="list-group-item">
                        <a href={% url 'wmanagment:work-details' company.pk work.pk %}>{{work.name}}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p> Works were not added</p>
        {% endif %}
        <form method="post">
        {% csrf_token %}
        {{form}}
        <input class='btn btn-info' type='submit'></input>
        </form>
{% endblock body %}