{% extends 'worker_managment/base.html' %}

{% block title %}
{{workplace.name}}
{% endblock title %}

{% block body %}
    <h1>{{workplace.name}}</h1>
        

        <form method="post">
        {% csrf_token %}

        <label>Worker:</label>
        {% if workplace.worker %}
            {{workplace.worker.name}}
        {% endif %}

        {{form.worker}}

        <label>Status:</label>
            {{workplace.get_readable_status}}

        {{form.status}}
       
        <input class='btn btn-info' type='submit'></input>
        </form>
{% endblock body %}